/*
  Content Side Navigation
  Side menu on secondary pages
*/
.content-sidenav{
  ul{
    list-style: none;
    margin: 0;
    li{
      margin: 5px 0;
      a{
        text-decoration: none;
        font-size: 1.2em;
        line-height: 1em;
        padding: 10px 10px;
        display: block;
        color: $content-link-color;
        &:hover{
          background: rgba($highlight-color, 0.75);
          color: #ffffff;
        }
      }
      &.selected{
        & > a{
          background: $highlight-color;
          color: #ffffff;
        }
      }
      ul{
        li{
          margin: 0;
          a{
            font-size: 1em;
            text-decoration: none;
            padding-left: 35px;
            &:hover{
              text-decoration: none;
              background: rgba($highlight-color, 0.75);
              color: #ffffff;
            }
          }
          &.selected{
            a{
              text-decoration: none;
              background: rgba($highlight-color, 0.5);
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}
