/*
  Header Responsive Side Navigation
  Responsive side nav, works with werkbot/sidenav
*/
#sidenav_button{
  display: block;
  cursor: pointer;
  color: #ffffff;
  font-size: 2em;
  .flex-container{
    height: 100%;
    justify-content: center;
    align-content: center;
  }
  .open{
  }
  .close{
    display: none;
  }
}
/* SIDENAV CONTAINER */
#sidenav_container{
  background: $sidenav-color none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  width: 85%;
  z-index: 2;
	/* MENU ITEMS */
	ul{
		background: none repeat scroll 0 0 $sidenav-color;
		margin: 0;
		width: 100%;
		list-style: none;
		li{
      border-bottom: 1px dotted darken($sidenav-color, 25);
			width: 100%;
			a{
				color: #FFF;
				font-size: 1.1em;
				line-height: 1em;
				padding: 10px 5%;
				text-decoration: none;
				width: 90%;
        display: block;
        &:hover{
          background: lighten($sidenav-color, 10);
        }
			}

			/* SECONDARY ITEMS */
			ul{
				li {
          &:first-child{
            border-top: 1px dotted darken($sidenav-color, 25);
          }
          &:last-child{
            border: none;
          }
          a{
            font-size: 0.9em;
    				width: 80%;
            padding: 8px 10%;
	        }
        }
			}
		}
	}
}
