/*
  Header Navigation
  Navigation with a dropdown menu (one level)
*/
.header-nav{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul{
    list-style: none;
    display: flex;
    li{
      display: flex;
      position: relative;
      a{
        display: flex;
        text-decoration: none;
        padding: 26px 25px;
        font-size: 1.2em;
        line-height: 1em;
        &:hover{
          background: $content-link-color;
          color: #ffffff;
        }
      }
      &:hover{
        a{
          background: $content-link-color;
          color: #ffffff;
        }
      }
      &.selected{
        a{
          background: rgba($content-link-color, 0.75);
          color: #ffffff;
        }
      }
      &:hover{
        ul{
          display: block;
        }
      }
      /* DROPDOWN */
      ul{
        position: absolute;
        top: 70px;
        right: 0;
        background: $content-link-color;
        width: 200px;
        padding: 20px 0;
        display: none;
        li{
          display: block;
          a{
            display: block;
            color: #ffffff;
            font-size: 0.9em;
            line-height: 1em;
            padding: 10px 25px;
            margin: 0;
            &:hover{
              background: lighten($content-link-color, 10);
            }
          }
        }
      }
    }
  }
}
