table{
  width: 100%;
  tr{

  }
  th,
  td{
    padding: 10px;
  }
  td{
  }
  thead{
    th{
      font-family: $font-family-header;
      font-weight: 700;
      text-align: left;
    }
  }
  tbody{
    td{
      font-family: $font-family;
    }
  }
  tfoot{
    font-size: 0.8em;
    line-height: 1em;
    td{
      font-family: $font-family;
    }
  }
}
