@media handheld, only screen and (max-width: map-get($fw-responsive-breakpoints, tablet)) {
}
@media handheld, only screen and (max-width: map-get($fw-responsive-breakpoints, phone)) {
  table{
    font-size: 0.8em;
    th,
    td{
      padding: 5px;
    }
  }
}
