/*
  Image
  Generic image classes
  These classes are set from silverstripe html editor
*/
img{
  &.left{
  	float: left;
  	padding-right: $spacing;
  	padding-bottom: $spacing;
  }
  &.right{
  	float: right;
  	padding-left: $spacing;
  	padding-bottom: $spacing;
  }
  &.center{
  	display: block;
  	margin: 0 auto;
  	text-align: center;
  	padding: $spacing;
  }
  &.leftAlone{
  	display: block;
  	text-align: left;
  	padding: $spacing;
  }
}
