/*
  Frame
  The frame of the website, often includes header and footer styles.
*/
body{
  background: $background-color;
}

/* Header */
.header{
  .header-logo{
    a{
      text-decoration: none;
      font-size: 2em;
      line-height: 1em;
      color: #ffffff;
    }
  }
}

/* Content */
.content{
  background: #fafafa;
  & > .container{
    background: #fafafa;
  }
  .sidebar{
    background: #efefef;
  }
}

/* Footer */
.footer{
  color: #cccccc;
  .container{
    padding: 20px 0;
  }
}
