/*
	TYPOGRAPHY
	Define all basic html tags. These can be overridden in but this should be the base.
*/
body {
	font: 400 1rem/1rem $font-family;
}
/* H1 */
$h1-font-sizes: (
  desktop: (2.4em, 1),
  tablet: (2.4em, 1),
  phone: (2.2em, 1)
);
h1{
  color: $content-heading-color;
  font-family: $font-family;
  font-weight: 700;
	@include font-size($h1-font-sizes);
}
/* H2 */
$h2-font-sizes: (
  desktop: (2.2em, 1),
  tablet: (2.2em, 1),
  phone: (2em, 1)
);
h2{
  color: $content-heading-color;
  font-family: $font-family;
  font-weight: 700;
	@include font-size($h2-font-sizes);
}
/* H3 */
$h3-font-sizes: (
  desktop: (2em, 1),
  tablet: (2em, 1),
  phone: (1.8em, 1)
);
h3{
  color: $content-heading-color;
  font-family: $font-family;
  font-weight: 700;
	@include font-size($h3-font-sizes);
}
/* H4 */
$h4-font-sizes: (
  desktop: (1.8em, 1),
  tablet: (1.8em, 1),
  phone: (1.6em, 1)
);
h4{
  color: $content-heading-color;
  font-family: $font-family;
	@include font-size($h4-font-sizes);
}
/* H5 */
$h5-font-sizes: (
  desktop: (1.6em, 1),
  tablet: (1.6em, 1),
  phone: (1.4em, 1)
);
h5{
  color: $content-heading-color;
  font-family: $font-family;
	@include font-size($h5-font-sizes);
}
/* H6 */
$h6-font-sizes: (
  desktop: (1.4em, 1),
  tablet: (1.4em, 1),
  phone: (1.2em, 1)
);
h6{
  color: $content-heading-color;
  font-family: $font-family;
	@include font-size($h6-font-sizes);
}
/* P */
$p-font-sizes: (
  desktop: (1em, 1.4),
  tablet: (1em, 1.4),
  phone: (1em, 1.4)
);
p {
  color: $content-text-color;
  font-family: $font-family;
  @include font-size($p-font-sizes);
}
/* UL, OL */
ul,ol {
  color: $content-text-color;
  font-family: $font-family;
  @include font-size($p-font-sizes);
}
ul{
	list-style: disc outside;
}
ol{
	list-style: decimal outside;
}
/**/
strong, b {
	font-weight: 700;
}
em, i {
	font-style: italic;
}
