/*
	VARIABLES
*/
/* FONTS */
$fa-font-path: "../../webfonts/FontAwesome";
$font-family: 'Roboto', sans-serif;
$font-family-header: 'Roboto', sans-serif;

/* vender/werkbot/_framewerk_variables.scss - overide these if necessary */
//LAYOUT
//$spacing: 20px;
$container-size: 1366px;

//BREAK POINTS
/*$fw-desktop-breakpoints: (
  desktop : 1024px
);*/
/*$fw-responsive-breakpoints: (
  tablet: 1024px,
  phone : 600px
);*/

/* COLORS */
$content-heading-color: #2b5b76;
$content-text-color: #454546;
$content-link-color: #2b5b76;
$background-color: #103246;
//add any custom colors here
$sidenav-color: #333333;
$highlight-color: #2b5b76;
